<div class="footer">
  <div class="footer-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              <a class="active" routerLink="">
                <i class="fas fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a routerLink="/categories">
                <i class="fas fa-border-all"></i>
                <span>Categories</span>
              </a>
            </li>
            <li>
              <a routerLink="/search">
                <i class="fas fa-search"></i>
                <span>Search</span>
              </a>
            </li>
            <li>
              <a routerLink="">
                <i class="far fa-user"></i>
                <span>Order</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
